In [17]:
import pandas as pd

data = pd.read_csv('aow_v1.csv', encoding='latin1')


data = data.drop(data.columns[0:2], axis=1)
data = data.drop(data.columns[7:10], axis=1)
data = data.drop(data.columns[8:14], axis=1)
data = data.drop(data.columns[9:], axis=1)
data.head()

,ccode,scode,country,year,un_region,un_continent,reg_id,regime_nr,change
0,2,USA,United States,1950,Northern America,Americas,201.0,Democracy,0.0
1,2,USA,United States,1951,Northern America,Americas,201.0,Democracy,0.0
2,2,USA,United States,1952,Northern America,Americas,201.0,Democracy,0.0
3,2,USA,United States,1953,Northern America,Americas,201.0,Democracy,0.0
4,2,USA,United States,1954,Northern America,Americas,201.0,Democracy,0.0

In [18]:
data.to_csv('aow_v1_cleaned.csv', index=False)